#Whitelisted {
    margin-top: 120px;

    text-align: center;
    font-size: 50px;
    height: 1em;

    transition: 0s;
}

#WhitelistedSubText {
    white-space: pre;
    height: 1em;
}

.blinkingCursor:after {
    position: absolute;
    content: "";
    width: .75em;
    /* height: 59px; */
    
    height: 4px;
    transform: translateY(1em);
    
    background-color: white;
    
    margin-left: 10px;

    animation: blink 1200ms linear infinite;
}

#onlineCheckProgress {
    margin-top: 10px;
    position: relative;

    left: 50%;
    transform: translateX(-50%);

    height: 2px;
    width: 13em;
    background-color: rgb(121, 121, 121);
}

#onlineCheckProgressValue {
    width: 0%;
    height: 100%;
    background-color: red;

    /* Personally, I like it better when it's not linear */
    transition: width 1s;
}

/* ----- */

@keyframes blink {
    50% {
      opacity: 0;
    }
}

@keyframes onlineStatusAni {
    0% {
        width: 0;
        background-color: rgba(255, 255, 255, 0.15);
    }
    75% {
        width: 39em;
        background-color: rgba(255, 255, 255, 0.15);
    }
    100% {
        width: 39em;
        background-color: rgba(255, 255, 255, 0);
    }
}