@font-face { font-family: Gameplay; src: url('/fonts/Gameplay.ttf'); } 

body {
    font-family: Gameplay;
}

.buttons {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

a {
    padding: 5px;
}

nav {
    z-index: 100;
    position: fixed;
    
    overflow: hidden;
    width: 100vw;
    height: 40px;
    top: 0px;
    left: 0px;

    align-items: initial;
    
    outline: dotted white 1px;
    background-color: rgba(0, 0, 0, .5);

    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}